<div class="jumbotron text-center">
  <h1><strong>{{Libreria}}</strong></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Bienvenido</h3>
      <p>
        Gracias por visitar nuestro sitio web. Esperemos que el cat&aacute;logo de libros que hemos preparado para usted sea interesante.
        Nuestro objetivo ha sido siempre el ofrecer un sitio web a nuestros visitantes que represente una experiencia &uacute;til.¡&Eacute;chele un vistazo, estamos seguros de que encontrar&aacute; lo que est&aacute; buscando en <strong>Libreria Alda</strong>!

        Aqu&iacute; podr&aacute; obtener una gran cantidad de informaci&oacute;n acerca de nuestros libros.

        ¿Interesado en saber m&aacute;s acerca de nuestra libreria?
        S&oacute;lo siga los v&iacute;nculos o enlaces en la barra principal de navegaci&oacute;n que se encuentra en la parte superior derecha de nuestra p&aacute;gina web.
      </p>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="Navegar()">Login</button>
  </div>
  <!--<app-cliente-component nombre="Alda" email="correo@correo.com"></app-cliente-component>-->
</div>
